.crypto-details-container{
    width: 100%;
    padding: 1vh;
    display: flex;
}
.crypto-details-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 25%;
    padding-left: 2vw;
    padding-right: 2vw;
    border-right: 2px solid gray;
}
.crypto-img{
    width: 10vh;
    height: 10vh;
}
.crypto-name{
    font-size: 32px;
    font-weight: 700;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
/* .crypto-about{
    font-size: 16px;
    color: rgb(94, 83, 83);
} */
.crypto-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    margin-bottom:3vh;
    width: 100%;
    border-bottom: 1px solid rgb(104, 96, 96);
}
.crypto-title{
    display: flex;
}
.crypto-stats-title{
   color: gray;
   font-size: 17px;
}
.crypto-stats-value{
    font-size: 22px;
    font-weight: 600;
}
.crypto-stats img{
    width: 20px;
    height: 20px;
    margin-right: 2vh;
}
.crypto-details-right{
    display: flex;
    width: 75%;
    flex-direction: column;
    padding-left: 3vh;
    padding-right: 3vh;
}
.coin-title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(92, 96, 101);
    text-align: center;
}
.chart-overview{
    color: rgb(101, 104, 107);
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-top: 3vh;
}
select{
    margin-top: 5vh;
    width: 30vh;
}
.coin-footer-container{
    display: flex;
    flex-direction: column;
    padding: 3vh;
}
.coin-details-heading{
    font-size: 19px;
    font-weight: 700;
}
.coin-footer-links{
    display: flex;
    flex-direction: column;
}
.coin-details-heading-links{
    margin-top: 5vh;
    font-size: 25px;
    font-weight: 800;
}
.coin-link{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
@media (max-width:600px) {
    .crypto-details-container{
        flex-direction: column;
    }
    .crypto-details-left{
        width: 100%;
        border-right: none;
        height: 61vh;
    }
    .crypto-details-right{
        width: 100%;
        padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 8vh;
    }
     .coin-title{
        font-size: 26px;
     }
     .chart-overview{
        font-size: 14px;
     }
}