/* * {
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    margin: 0px;
  }
  
  .nav {
    height: 55px;
    width: 100%;
    background-color: #284d9c;
    position: relative;
  }
  
  .nav > .nav-header {
    margin-left: 3vw;
    display: inline;
  }
  .Cryptologo{
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-bottom: -8px;
  }
  .nav-links-img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
  }
  .nav-title a{
    color: white;
    padding: 10px 20px 10px 0px;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 25px;
    padding: 7px 20px 10px 20px;
    font-weight: bolder;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    width: 40%;
    float: right;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px  20px 13px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgb(81, 148, 224);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-header {
      margin-left: -2vw;
    }
    .Cryptologo{
      height: 40px;
      width: 40px;
      margin-right:11px;
      margin-bottom: -9px;
    }
    .nav-title a{
      font-size: 30px;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgb(85, 148, 243);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(67, 127, 231);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    
} */